.chat_box{
    width: 100%;
    background-color: var(--bg-light);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    min-height: 400px;
    max-height: 700px;
    max-width: 700px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.chat_view{
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--bg-primary-10);
    flex: 1;
}

.chat_card,.chat_card_primary{
    width: 300px;
    height: 100px;
    border-radius: 0 20px 0 20px;
    background: var(--primary-bg);
    padding: 12px;
    
}

.chat_card_primary{
    color: var(--white);
}

.input_cont{
    padding: 15px;
}

.input_field{
    display: flex;
    gap: 15px;
}

.input_field input{
    flex: 1;
}

.send_btn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: var(--white);
    background: var(--primary-color);
    padding: 12px;
}



@media (min-width : 768px) {
    .chat_view{
        min-height: 500px;
    }
}