.home{
  width: 100%;
  min-height: 100vh;
  margin: auto;
}

.robot_cont{
  width: 100%;
  min-height: calc(100vh - 100px);
  display: grid;
  place-items: center;
  background-color: var(--bg-primary-10);
}

.robot_cont > div{
  width: 100%;
  max-width: 500px;
  height: calc(100vh - 100px);
  padding: 15px;
  position: relative;
}

.chat_box{
  width: 100%;
  display: grid;
  place-items: center;
  padding: 15px;
}




@media (min-width : 768px) {
  .home{
    display: flex;
  }
  .robot_cont{
    flex: 0.4;
  }

  .chat_box{
    padding: 20px;
    flex: 0.6;
  }
}


